{% extends "APIRestBundle::layout.html.twig" %}

{% block title %}
    {{ parent() }}
{% endblock %}

{% block ocplatform_body %}

    <p>
        L'idée à bien été supprimé !
    </p>


{% endblock %}