{# src/APIRestBundle/Resources/views/User/add.html.twig #}

{% extends "APIRestBundle::layout.html.twig" %}

{% block title %}
    Add User - {{ parent() }}
{% endblock %}

{% block ocplatform_body %}
    <h3>Création d'un compte</h3>

    {{ include("APIRestBundle:User:form.html.twig") }}
    

{% endblock %}